name: Pre release

on:
  push:
    branches:
      - ver/1.8.8
  workflow_dispatch:

jobs:
  build:
    name: Gradle-Build
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      
      # Setup JDK
      - name: Setup Java JDK
        uses: actions/setup-java@v3
        with:
          java-version: 8
          distribution: 'temurin'
          cache: 'gradle'
        
      # Build
      - name: Make gradlew executable
        run: chmod +x ./build.sh
      - name: Build with Gradle
        run: ./build.sh

      # Auto release
      - name: Auto release
        uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: latest
          prerelease: true
          files: |
            bin/*.jar
            LICENSE
